@import "./base/variables";
@import "./base/listas";
@import "./utilidades/extends";
@import "./utilidades/mixins";
@import "./utilidades/maps";
@import "./secciones/header";
@import "./secciones/main";
@import "./secciones/footer";
/*Reset CSS*/
*{
	margin: 0;
	padding: 0;
}
/*Color del cuerpo de la página*/
body{
	display: grid;
	min-height: 100vh;
	grid-template-rows: auto auto auto;
	background-color:$colorPrincipalBody;
}