/*Inicio del Header*/
/*Menú de Navegación*/
nav{
	display: $pantallaFlex;
}
.nav-item{
    margin-right: map-get($tamanios, margenVistaAlto);
	font-family: $fuenteFamilia2;
	font-size: nth($tamanioReutilizable, 1 );
}

.nav-link{
    color:$colorTexto;
    &:hover{
        background-color: $colorHover;
        border-radius: map-get($tamanios, bordeRedondo);
    }
}

.navbar-toggler{
    border: $imagenesNoMostrar !important;
	font-size: nth($tamanioReutilizable, 2 ) !important;
    &:focus{
        box-shadow: $imagenesNoMostrar !important;
    }
}

.navbar-brand{
	display: $imagenesNoMostrar;
}

/*Logo de mi nombre*/
.imagen_logo{
	display: $imagenesNoMostrar;
}

.contenedor{
    @extend %paraContenedor;
}

.nombre{
    display: $pantallaFlex;
	font-family: $fuenteFamilia3;
	font-size: nth($tamanioReutilizable, 7 );
	margin: map-get($tamanios, margenNombre);
	color: $colorTexto;
}

/*Media Queries para Pantallas Intermedias*/
@media screen and (min-width: 500px) and (max-width: 768px){
    .imagen_logo{
		display: $pantallaFlex;
		align-self: $alinearItem;
		width: nth($tamanioReutilizable, 11 );
		height: nth($tamanioReutilizable, 11 );
		margin: $margenesIconoFooter;
		background-image:url(../imagenes/CD_v2.png);
		background-size: nth($tamanioReutilizable, 10 );
        @include paraLogo ($repiteSiNo, $imagenesFondo, $bordeRedondeadoPorcentaje);
	}
    nav{
		margin: map-get($tamanios, margenNombre);
	}
	.navbar-brand{
		display:$pantallaInicio;
	}
	.imagen_barra{
		width: nth($tamanioReutilizable, 8 );
	}
	.nav-item{
		font-size: nth($tamanioReutilizable, 2 );
	}
	/*Fin Header*/
}