/*Inicio del Header*/
/*Menú de Navegación*/
nav{
	display: $pantallaFlex;
}
.nav-item{
    margin-right: map-get($tamanios, margenVistaAlto);
	font-family: $fuenteFamilia2;
	font-size: nth($tamanioReutilizable, 1 );
}

.nav-link{
    color:$colorTexto;
    &:hover{
        background-color: $colorHover;
        border-radius: map-get($tamanios, bordeRedondo);
    }
}

.navbar-toggler{
    border: $imagenesNoMostrar !important;
	font-size: nth($tamanioReutilizable, 2 ) !important;
    &:focus{
        box-shadow: $imagenesNoMostrar !important;
    }
}

.navbar-brand{
	display: $imagenesNoMostrar;
}

/*Logo de mi nombre*/
.imagen_logo{
	display: $imagenesNoMostrar;
}

.contenedor{
    @extend %paraContenedor;
}

.nombre{
    display: $pantallaFlex;
	font-family: $fuenteFamilia3;
	font-size: nth($tamanioReutilizable, 7 );
	margin: map-get($tamanios, margenNombre);
	color: $colorTexto;
}