
/*Inicio de main distintas páginas*/
/*Clase de Bootstrap modificada*/
.text-dark{
    @extend %descripciones;
    font-size: nth($tamanioReutilizable, 3 )
}

/*Parte de la descripción de mi perfil, curriculum y proyectos*/
.experiencia_cv, .estudios_cv, .referencias_cv, .proyecto1, .proyecto2, .proyecto_n, .link1, .link2, .link_n{
    @extend %descripciones;
    margin: $margenesDescTitulo2;
	color:#4a4b4b;
    font-size: nth($tamanioReutilizable, 3 )
}

.experiencia, .estudios, .referencias, .proyecto, .link{
    @include texto_footer_main(center, $fuenteFamilia2, nth($tamanioReutilizable, 5 ));
    margin: $margenesDescTitulo;
    color: $colorTexto;
}

.imagen_foto{
    display: $imagenesNoMostrar;
}
/*Inicio encabezado del curriculum, proyecto, links y contacto*/
.centrado{
    @include grilla ($pantallaGrilla, $tamanioGrilla, $tamanioGrilla);
}

.bordes{
    @extend %lineaBorde;
}

h1{
    @include iconos ($colorTexto, 0px);
    font-size: nth($tamanioReutilizable, 5 );
    @extend %descripciones;
}

/*Tamaño de imagenes para pantallas mobiles*/
.proyecto_img{
    width: map-get($tamanios, anchoImagenes);
}
/*Formulario de Contacto*/
.form_contacto{
    @include pantalla ($pantallaFlex, $justificarBorde, $alinearItem);
    margin: $margenesDescTitulo;
}

input,
textarea{
    font-family: $fuenteFamilia;
    font-size: map-get($tamanios, fuentePorcentaje);
}

label{
    font-family: $fuenteFamilia3;
	color: $colorTexto;
	font-size: map-get($tamanios, fuentePorcentaje);
}
/*Fin formulario*/

.link1a{
    @include linksPaginas ($imagenesNoMostrar, $alinearItem);
}

.grilla{
    @include grilla ($pantallaGrilla, $tamanioGrilla, $tamanioGrilla);
    @extend %paraGrilla;
    font-size: nth($tamanioReutilizable, 2 );
}
/*Media Queries para Pantallas Intermedias*/
@media screen and (min-width: 500px) and (max-width: 768px){
    /*main*/
	.imagen_foto{
		display: $imagenesNoMostrar;
	}
}

/*Media Queries para Pantallas medianas*/
@media screen and (min-width: 769px) and (max-width: 1023px){
    .cuerpo_info{
        @include pantalla ($pantallaFlex, $justificarContenido, $alinearItem);
        flex-wrap: $juntarFlex2;
    }
    .imagen_foto{
        display: $imagenFoto;
        height: map-get($tamanios, altoImagenes);
        margin: map-get($tamanios, margenNombre);
    }
    .experiencia_cv, .estudios_cv, .referencias_cv, .proyecto1, .proyecto2, .proyecto_n, .link1, .link2, .link_n{
        font-size: nth($tamanioReutilizable, 4 );
    }
    .experiencia, .estudios, .referencias, .proyecto, .link{
        font-size: nth($tamanioReutilizable, 8 );
    }
    .text-dark{
        @include texto_main ($alinearTextoIzq, $anchoTexto);
        font-size: nth($tamanioReutilizable, 6 );
    }
    h1{
        font-size: nth($tamanioReutilizable, 8 );
    }
    .grilla{
        @include grilla ($pantallaGrilla, $tamanioGrillaAuto, $tamanioGrillaAuto);
        font-size: nth($tamanioReutilizable, 4 );
    }
}
/*Media Queries para Pantallas Grandes*/
@media screen and (min-width: 1024px){
    .cuerpo_info{
        @include pantalla1024 ($pantallaFlex, $justificarContenido);
        flex-wrap: $juntarFlex;
    }
    .imagen_foto{
        display: $imagenFoto;
        height: map-get($tamanios, altoImagen1024);
        margin: map-get($tamanios, margenNombre);
    }
    /*Clase de Bootstrap modificada*/
    .text-dark{
        @include texto_main ($alinearTextoIzq, $anchoTexto2);
        font-size: nth($tamanioReutilizable, 6 );
    }
    /*Parte de la descripción de mi perfil, curriculum y proyectos*/
    .experiencia_cv, .estudios_cv, .referencias_cv, .proyecto1, .proyecto2, .proyecto_n, .link1, .link2, .link_n{
	    font-size: nth($tamanioReutilizable, 6 );
    }
    .experiencia, .estudios, .referencias, .proyecto, .link{
        font-size: nth($tamanioReutilizable, 8 );
    }
    .centrado{
        @include grilla ($pantallaGrilla, $tamanioGrilla, $tamanioGrilla);
    }
    .bordes{
        height: nth($tamanioReutilizable, 10 );
    }
    h1{
        font-size: nth($tamanioReutilizable, 9 );
    }
    .grilla{
        @include grilla ($pantallaGrilla, $tamanioGrillaAuto, $tamanioGrillaAuto);
        font-size: nth($tamanioReutilizable, 6 );
    }
}