$colorPrincipalBody: rgb(218,211,198);
$colorTexto: rgb(61,129,246);
$colorInternoBorde:rgba(236, 232, 226, 0.945);
$colorHover: rgba(197, 190, 178, 0.87);
$fuenteFamilia: 'Kanit', sans-serif;
$fuenteFamilia2: 'Acme', sans-serif;
$fuenteFamilia3: 'Wellfleet', monospace;
$margenesIconoFooter: 0px 5px 0px 5px;
$margenesDescTitulo: 20px 0px 0px 0px;
$margenesDescTitulo2: 10px 0px 10px 0px;
$redondeoBorde: 15px 15px 15px 15px;
$pantallaFlex: flex;
$pantallaGrilla: grid;
$pantallaInicio: initial;
$imagenesNoMostrar: none;
$tamanioGrilla: 1fr;
$tamanioGrillaAuto: auto auto;
$lineaBorde:1px ridge black;
$anchoBorde:95%;
$justificarBorde:center;
$alinearItem: center;
$estiloLista:disc;
$direccionFlexH: row;
$juntarFlex: wrap;
$anchoContenedor:100%;
$repiteSiNo: no-repeat;
$imagenesFondo: center;
$bordeRedondeadoPorcentaje: 50%;
