%descripciones{
    font-family: $fuenteFamilia;
	text-align: center;
}

%descripciones2{
    font-family: $fuenteFamilia2;
	text-align: center;
}

%lineaBorde{
	justify-self: center;
	width: $anchoBorde;
	border:$lineaBorde;
	border-radius: $redondeoBorde;
	background-color: $colorInternoBorde;
}

%paraGrilla{
	font-family: $fuenteFamilia;
	color:#4a4b4b;
	list-style: $estiloLista;
}

%paraContenedor{
	display: $pantallaFlex;
	flex-direction: $direccionFlexH;
	flex-wrap: $juntarFlex;
	align-content: center;
	width:$anchoContenedor;
}
